<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h2>Update Your Video</h2><br>
            <input type="text" ng-model="singleVideo.title" placeholder="Title"><br>
            <input type="text" ng-model="singleVideo.imageUrl" placeholder="imageUrl"><br>
            <input type="text" ng-model="singleVideo.videoUrl" placeholder="videoUrl"><br>
            <input type="text" ng-model="singleVideo.category" placeholder="category"><br>
            <button ng-click="submitUpdate()">Update Video</button>
        </div>
    </div>
</div>